# JetBrains
.idea/

# MacOS
.DS_Store

# Node
node_modules/
package-lock.json
pnpm-lock.yaml

# Spring
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Junie
.junie/

# Vscode
.vscode/
